<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}/assets/images/favicon/manifest.json">
<link rel="mask-icon" href="{{ site.url }}/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon/favicon.ico">
<meta name="msapplication-config" content="{{ site.url }}/assets/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">