<footer class="footer-main">
    <!--{{ site.name-en }} © {{ site.time | date: '%Y' }}-->
    <!--<a class="link" href="{{ site.url }}/feed.xml" target="_blank">-->
        <!--<svg class="icon icon-rss">-->
            <!--<use xlink:href="#icon-rss"></use>-->
        <!--</svg>-->
    <!--</a>-->

    <p class="extra"><a class="link" href="https://github.com/sergiokopplin/indigo">Indigo</a> theme
        <br>
        <!--قدرت‌گرفته از <a class="link" href="https://jekyllrb.com/">جِکیل</a> و-->
        <!--<a class="link" href="https://github.com">گیت‌هاب-->
        Powered by <a class="link" href="https://jekyllrb.com/">Jekyll</a> and
        <a class="link" href="https://github.com">Github</a>

    </p>
</footer>
