<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <meta name=description content="{{ site.bio }}">
  <meta name=author content="{{ site.name }}">
  {% include favicon.html %}



  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">


  <!--<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">-->
  {% if jekyll.environment == 'production' and site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}


</head>
