<header class="{% if page.shortcode == "home" %} header-home animated {%else%} header{% endif %}">
<a class="link" href="{{ site.url }}/about">
    <img class="selfie" alt="{{ site.name }}" src="/assets/images/profile.jpg"/>
</a>

<h1 class="title">{{ site.name }}</h1>
<h2 class="description">{{ site.bio }}</h2>

{% include social-links.html %}

{% include nav.html %}

</header>

