<nav class="{% if page.shortcode == "home" %} nav-home {% else %} nav {% endif %}">

<ul class="list">
    {% assign pages_list = site.pages | sort:"index"%}
    {% for p in pages_list %}
    {%if p.display==true and p.title!=page.title%}
    <li class="item">
        <a class="link"
           href="{%if p.permanentlink %}{{p.permanentlink}}{% else %}{{p.permalink}}{%endif%}">{{p.title}}</a>
    </li>
    {%endif%}
    {% endfor %}

</ul>
</nav>
