/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */

body, html {
  font-size: 62.5%;
  height: 100%;
}
article,
main{
  height: 100%;
}

.full-height{
  height: 100%;
}

body {
  line-height: 1;
  font: 16px $fontBase;
  color: $alpha;
}

h1, h2, h3, h4 {
  font-family: $fontBase;
  color: $beta;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility

}

h1 {
  font-size: 3rem;
  letter-spacing: -1px;
  color: $beta;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  line-height: 1.7;
  color: $alpha;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 0.4px;

  @media #{$mobile} {
    letter-spacing: 0.2px;
  }
}

strong {
  font-weight: 400;
  color: #000;
}

hr {
  border: none;
  height: 1px;
  margin: 40px auto;
  background: #eee;
  width: 100%;
}

/**
 * Links
 */
a {
  color: $delta;
  text-decoration: underline;

  &:visited {
    color: darken($delta, 15%);
  }

  &:hover {
    color: $alpha;
    text-decoration: underline;
  }
}

/**
 * Images
 */
img, iframe, pre {
  max-width: 100%;
  vertical-align: middle;
}

img,
pre {
  border-radius: 4px;
}

figure > img {
  display: block;
}

figcaption {
  position: relative;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: $gama;
  font-weight: 300;

  @media #{$mobile}{
    font-size: 1.2rem;
  }
}

figure.highlight {
  width: 100%;
  margin: 0;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 0px;
}

li {
  > ul,
  > ol {
    line-height: 2.4rem;
    font-weight: 300;
    color: $alpha;
  }
}

/**
 * Blockquotes
 */
blockquote {
  border-left: 3px solid #eee;
  padding-left: 15px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
code, tt {
  padding: 1px 0;
  font-family: $fontMonospace;
  font-size: 12px;
  line-height: 20px;
  background: #ebebeb;
  border-radius: 2px;
  border-radius: 2px;
}

pre {
  box-sizing: border-box;
  margin: 0 0 1.75em 0;
  width: 100%;
  padding: 5px 10px;
  font-family: $fontMonospace;
  font-size: 1.2rem;
  line-height: 2rem;
  overflow: auto;
  background: #fff;
  border: 1px solid $epsilon;
  border-radius: 2px;
}

/**
 * Wrapper
 */
.wrapper-normal,
.wrapper-large {
  height: 100%;
  width: 96%;
  margin: 0 auto;
  max-width: 560px;

  @media #{$mobile}{
    width: 88%;
  }
  @media #{$tablet} {
    width: 88%;
  }
  .wrapper-normal {
    max-width: 560px;
  }
  .wrapper-large {
    max-width: 810px;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}