.footer-main
  border-top: 1px solid $epsilon
  padding: 40px 0
  margin: 40px 0 0
  font-size: 1.3rem
  color: $gama
  font-weight: 300
  text-align: center
  position: relative

  &:before
    display: block
    content: " "
    width: 7px
    height: 7px
    border: $epsilon 1px solid
    position: absolute
    top: -5px
    left: 50%
    margin-left: -5px
    background: #FFF
    box-shadow: #FFF 0 0 0 5px
    border-radius: 3px

  > .link
    display: inline

    > .icon
      width: 15px !important
      fill: $gama !important
      transition: ease-in-out all .3s
      position: relative
      top: 3px
      display: inherit
      margin: 0

      &:hover
        fill: $delta !important

  > .extra
    color: $gama
    margin-top: 0

    > .link
      color: $beta
      text-decoration: none
      border-bottom: 1px solid transparent
      transition: ease-in-out all .3s
      padding-bottom: 1px

      &:hover
        border-color: $gama
