.header,
.header-home
  display: block
  margin: 0 auto
  text-align: center
  position: relative
  align-content: center
  padding-top: 120px
  z-index: 99

  > .link > .selfie
    width: 125px
    margin-bottom: 25px
    border-radius: 100%
    transition: all .2s
    box-shadow: 0
    opacity: 1

    &:hover
      box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.18), 0 0px 12px 0 rgba(0, 0, 0, 0.15)
      opacity: .8

  > .title
    font-size: 4rem
    margin: 0 0 13px

  > .description
    font-size: 1.85rem
    font-weight: 300
    font-style: normal
    color: $gama
    width: 70%
    margin: 0 auto 30px

    // if you put some links in your bio. ;)
    a
      font-weight: 200

.header
  background: $accent
  height: 100%
  > .link > .selfie
    width: 100px
    background: $epsilon
    padding: 2px

  > .title
    font-size: 2rem

  > .description
      font-size: 1.5rem
      color: $epsilon
