---
layout: page
---
<section class="list">
    <ul class="blog">

    {% if site.posts.size == 0 %}
        <p class="text-center">Nothing published yet!</p>
    {% elsif site.paginate %}
        {% for post in paginator.posts %}
            {% if post.category == 'blog' %}
                {% if post.hidden != true %}
                    {% include blog-item.html %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% include pagination.html%}
    {% else %}
        {% for post in site.posts %}
            {% if post.post-type == "blog" %}
                {% if post.hidden != true %}
                    {% include blog-item.html %}

                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
</section>