<!DOCTYPE html>
<html class="no-js" lang="en" dir="rtl">

{% include head.html %}

<body>

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

    {% include icons.html %}

    <script src="/assets/foundation/js/vendor/jquery.js"></script>
    <script src="/assets/foundation/js/vendor/what-input.js"></script>
    <script src="/assets/foundation/js/vendor/foundation.js"></script>
    <script src="/assets/foundation/js/app.js"></script>
</body>

</html>
