---
layout: default
---
<article class="post">
  <div class="grid-x align-right full-height">
    <div class="medium-4 columns ">
      {%include header.html%}
    </div>

    <div class="medium-8 columns">
      <div class="wrapper-normal">
      {{ content }}
      </div>
    </div>
  </div>



</article>
